@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --sidebar-item-border-width: 3px;
}

.btn {
    font-weight: 700;

    &:active:focus {
        outline: 0 none;
        box-shadow: none;
    }

    &.btn-primary {
        background-color: #ffe300;
        border: 2px solid rgba(7, 4, 8, .28);
        color: #534a01;
        font-weight: 700;

        &:not(:disabled):not(.disabled):active {
            background-color: #ffe300;
            border: 2px solid rgba(7, 4, 8, .5);
            color: #534a01;

            &:focus {
                box-shadow: none;
            }
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: #ffe300;
            border: 2px solid rgba(7, 4, 8, .5);
            color: #534a01;
        }
    }

    &.btn-secondary {
        background-color: transparent;
        border-color: transparent;
        color: #1d5cc1;

        &:not(:disabled):not(.disabled) {
            background-color: transparent;
            border-color: transparent;

            &:active:focus {
                outline: 0 none;
                box-shadow: none;
            }
        }
    }

    &.btn-danger {
        background-color: transparent;
        border-color: transparent;
        color: #db143c;

        &:not(:disabled):not(.disabled):active {
            background-color: transparent;
            border-color: transparent;
            color: #db143c;

            &:focus {
                box-shadow: none;
            }
        }

        &:focus {
            box-shadow: none;
        }
    }
    &.btn-success {
        background-color: transparent;
        border-color: transparent;
        color: #4dbd74;

        &:not(:disabled):not(.disabled):active {
            background-color: transparent;
            border-color: transparent;
            color: #4dbd74;

            &:focus {
                box-shadow: none;
            }
        }

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-outline-secondary {
        background-color: transparent;
        border: solid #1d5cc1 2px;
        color: #1d5cc1;
        padding:0.375rem 0.5rem; 
        .oc {
            margin-right: 5px;
        }

        &:not(:disabled):not(.disabled) {
            background-color: transparent;
            // border-color: transparent;

            &:active:focus {
                outline: 0 none;
                box-shadow: none;
            }
        }
    }

}

.input-group {

    .input-group-append {

        .input-group-text {
            background-color: #eaf1fb;
        }
    }
}

.Toastify {

    &__toast {
        border-left: 11px solid transparent;
        border-radius: 0.5rem;
        font-weight: 700;

        &--success {
            background-color: #3272d8;
            border-color: #143e83;
        }

        &--error {
            background-color: #db143b;
            border-color: #8f001c;
        }
    }

    &__close-button {
        background-color: rgba(0, 0, 0, .58);
        border-radius: 0.5rem;
        color: white;
        height: 1rem;
        width: 1rem;
    }
}

.modal {

    .modal-title {
        color: #1d5cc1;
        font-weight: 700;
    }
}

body {
    background-color: #eff1f7;
    font-family: 'Lato', sans-serif;
}

.app-header {

    .navbar-brand {
        background-color: #1d5cc1;
    }

    .navbar-toggler,
    .navbar-toggler:active,
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        background-color: #1d5cc1;
        border: 0 none;
        border-radius: 0;
        color: white;
        height: 55px;
        min-width: auto;
        outline: 0 none;
        width: 45px;

        .navbar-toggler-icon {
            background-image: url('/admin/img/brand/navbar-toggler.png');
            height: 13px;
            width: 16px;
        }
    }

    nav.breadcrumb {
        background-color: #F00;
        padding: 0;
    }

    ol.breadcrumb {
        border: 0 none;
        margin: 0;

        li {
            font-size: 16px;
        }

        a {
            font-weight: 700;
        }
    }
}

.sidebar {
    background-color: #3171d7;

    .space-top {
        height: 43px;
        width: 100%;
    }

    .nav-link {
        border-left: var(--sidebar-item-border-width) solid #3171d7;
        font-weight: 700;
        font-size: 16px;

        .nav-icon {
            color: white;
            font-size: 1.3rem;
            margin-right: 1rem;
            vertical-align: -2px;
        }

        &:hover {

            &.nav-dropdown-toggle {

                &:before {
                    background-image: url('/img/sidebar/submenu-arrow.png');
                }
            }
        }

        &.active {
            background-color: #133e83;
            border-left: var(--sidebar-item-border-width) solid yellow;

            .nav-icon {
                color: white;
            }
        }
    }

    .nav-dropdown {

        &.open {
            background-color: #1d5bc1;

            .nav-link {
                border-left: var(--sidebar-item-border-width) solid #1d5bc1;
            }

            .nav-dropdown-items {

                .nav-link {
                    background-color: #17499a;
                    border-left: var(--sidebar-item-border-width) solid #17499a;

                    &.active {
                        background-color: #133e83;
                        border-left: var(--sidebar-item-border-width) solid yellow;
                    }
                }
            }
        }
    }

    .nav-dropdown-toggle {

        &:before {
            background-image: url('/img/sidebar/submenu-arrow.png');
            height: 9px;
            width: 9px;
        }
    }
}

.main {

    .breadcrumb {
        margin-bottom: 0;
    }

    .main-container {
        height: calc((100% - 46px) - 1.5rem);
        padding: 1rem 15px 0;

        &.no-breadcrumb {
            height: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .card-header {
            background-color: #eaf1fb;
            border-bottom: 0 none;
            color: #1d5cc1;
            font-size: 20px;
        }

        .table {

            thead {

                th {
                    color: #1d5cc1;
                    font-size: 14px;
                }
            }

            tbody {

                td {
                    font-size: 14px
                }

                .status-badge {
                    background-color: gray;
                    border-radius: 3px;
                    font-weight: 700;
                    text-align: center;

                    &.badge-success {
                        background-color: #78d732;
                    }
                    &.badge-danger {
                        background-color: #db143c;
                    }
                }
            }

            tfoot {

                th {
                    color: #1d5cc1;
                }
            }
        }

        .table-striped {

            tbody {

                tr {

                    &:hover {
                        background-color: #f3f7fc;
                    }

                    &:nth-of-type(odd) {
                        background-color: #f3f7fc;
                    }
                }
            }
        }

        .module-editor {
            height: 100%;

            .tab-content {
                height: calc(100% - 39px);
            }

            .tab-pane {
                height: 100%;
            }

            .tab-pane-toolbar {
                margin-bottom: 8px;
                margin-top: -8px;
            }

            .tab-pane-content {
                height: 100%;

                &.less-toolbar {

                    height: calc(100% - 35px)
                }
            }
        }
    }
}

.app-footer {
    flex: 0 0 30px;
}


@media (max-width: 992px) {

    .app-header {

        .navbar-brand {
            left: 45px;
            margin-left: 0;
        }
    }
}

@media (min-width: 992px) {

    .brand-minimized {

        .app-header {

            .navbar-brand {
                background-color: #1d5cc1;
            }
        }
    }
}
