
.preloader {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.preloader-valigned {
    text-align: center;
}
